<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>WIO Service</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>

<body>
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">로그인</h3>
                <form id="loginForm" th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ID" name="userId" id="userId">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="password" name="password" id="password">
                    </div>
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="remember-me" id="checkbox-fill-a1">
                            <label for="checkbox-fill-a1" class="cr"> ID 저장</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">Login</button>
                </form>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#companySignupModal"  data-whatever="@mdo">업체 가입</button>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">직원 신청</button>
            </div>
        </div>
    </div>
</div>

<!-- 업체 가입 모달 창 -->
<div class="modal fade" id="companySignupModal" tabindex="-1" role="dialog" aria-labelledby="companySignupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companySignupModalLabel">test 업체 가입</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="companySignupForm">
                    <div class="form-group">
                        <label for="custName">회사명</label>
                        <input type="text" class="form-control" id="custName" name="custName" required>
                    </div>
                    <div class="form-group">
                        <label for="empName">신청자 이름</label>
                        <input type="text" class="form-control" id="empName" name="empName" required>
                    </div>
                    <div class="form-group">
                        <label for="custUserId">아이디</label>
                        <input type="text" class="form-control" id="custUserId" name="custUserId"  pattern="[A-Za-z0-9]+" title="한글 입력이 제한됩니다. 영문자와 숫자만 사용할 수 있습니다."required>
                        <small id="userIdAvailability" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="custPassword">비밀번호</label>
                        <input type="password" class="form-control" id="custPassword" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="custPassword2">비밀번호 확인</label>
                        <input type="password" class="form-control" id="custPassword2" required>
                        <small id="passwordMatchInfo" class="form-text text-muted"></small>
                    </div>

                    <script>
                        document.getElementById('custUserId').addEventListener('input', function() {
                            var userId = this.value;
                            var userIdAvailability = document.getElementById('userIdAvailability');

                            if (userId.length > 0) {
                                fetch('/check-userid-availability?userId=' + userId)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Server response wasn\'t OK');
                                        }
                                        if (response.headers.get("content-type").indexOf("application/json") !== -1) {
                                            return response.json(); // JSON 응답 변환
                                        } else {
                                            throw new Error('Invalid JSON response');
                                        }
                                    })
                                    .then(data => {
                                        if (data.isAvailable) {
                                            userIdAvailability.textContent = '사용 가능한 아이디입니다.';
                                            userIdAvailability.style.color = 'green';
                                        } else {
                                            userIdAvailability.textContent = '이미 사용 중인 아이디입니다.';
                                            userIdAvailability.style.color = 'red';
                                        }
                                    }).catch(error => {
                                    console.error('Error:', error);
                                });
                            } else {
                                userIdAvailability.textContent = '';
                            }
                        });

                        document.getElementById('custPassword2').addEventListener('input', function() {
                            var password = document.getElementById('custPassword').value;
                            var confirmPassword = this.value;
                            var passwordMatchInfo = document.getElementById('passwordMatchInfo');

                            if (password === confirmPassword) {
                                passwordMatchInfo.textContent = '비밀번호가 일치합니다.';
                                passwordMatchInfo.style.color = 'green';
                            } else {
                                passwordMatchInfo.textContent = '비밀번호가 일치하지 않습니다.';
                                passwordMatchInfo.style.color = 'red';
                            }
                        });
                    </script>
                    <div class="form-group">
                        <label for="depart">부서</label>
                        <input type="text" class="form-control" id="depart" name="depart">
                    </div>
                    <div class="form-group">
                        <label for="position">직급</label>
                        <input type="text" class="form-control" id="position" name="position">
                    </div>
                    <div class="form-group">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="form-group">
                        <label for="telNo">직통번호</label>
                        <input type="text" class="form-control" id="telNo" name="telNo">
                    </div>
                    <div class="form-group">
                        <label for="handPhone">핸드폰번호</label>
                        <input type="text" class="form-control" id="handPhone" name="handPhone">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" form="companySignupForm">신청하기</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap과 jQuery 스크립트 -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>


<!-- Required Js -->
<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- 로그인 폼 제출 스크립트 -->
<script>
    let isFormSubmitted = false; // 폼이 제출되었는지 추적하는 플래그
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        e.preventDefault();
        if (!isFormSubmitted) {
            validateAndSubmitForm();
        }
    });

    function validateAndSubmitForm() {
        var userId = document.getElementById('userId').value;
        var password = document.getElementById('password').value;

        if (!userId || !password) {
            alert('아이디와 비밀번호를 모두 입력해주세요.');
            return;
        }

        isFormSubmitted = true; // 폼 제출 상태로 설정

        var formData = new FormData(document.getElementById('loginForm'));

        fetch('/login', {
            method: 'POST',
            body: formData
        }).then(response => {
            isFormSubmitted = false; // 폼 제출 상태 해제
            if (response.ok) {
                window.location.href = '/main'; // 성공 시 리디렉션
            } else {
                return response.text();
            }
        }).then(text => {
            if (text) {
                alert(text); // 서버로부터 받은 오류 메시지 표시
            }
        }).catch(error => {
            isFormSubmitted = false; // 폼 제출 상태 해제
            console.error('Error:', error);
        });
    }
</script>

</body>
</html>
