<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wio.crm.mapper.MenuMapper">
    <select id="findMenusByRole" resultType="Map">
        SELECT DISTINCT
            MENU_CD
                      ,MENU_NM
                      ,PROG_NM
                      ,MENU_REF
                      ,MENU_IDX
                      ,MENU_DIV
                      ,PROG_TP
                      ,USE_YN
                      ,SEQ
                      ,HMENU_CD
        FROM (
                 WITH DETAIL_MENU AS (SELECT  HM.MENU_CD AS HMENU_CD
                                           ,   MM.MENU_CD AS MMENU_CD
                                           ,   DM.MENU_CD AS DMENU_CD
                                      FROM  WMENU HM
                                         , WMENU DM
                                         , WMENU MM
                                         , W_MENU_USER MU
                                         , TEMP01 EP
                                      WHERE HM.MENU_CD = MM.MENU_REF AND HM.USE_YN = 'Y'
                                        AND MM.MENU_CD = DM.MENU_REF AND MM.USE_YN = 'Y'
                                        AND DM.MENU_CD = MU.MENU_CD AND DM.USE_YN = 'Y'
                                        AND MU.USER_ID = EP.POSITION
                                        AND MU.AUTHORITY = 'Y'
                                        AND EP.USERID =#{username}
                                      UNION ALL SELECT  HM.MENU_CD AS HMENU_CD
                                                     ,   MM.MENU_CD AS MMENU_CD
                                                     ,   DM.MENU_CD AS DMENU_CD
                                      FROM  WMENU HM
                                         , WMENU DM
                                         , WMENU MM
                                         , W_MENU_USER MU
                                         , TCNT01_EMP EP
                                      WHERE HM.MENU_CD = MM.MENU_REF AND HM.USE_YN = 'Y'
                                        AND MM.MENU_CD = DM.MENU_REF AND MM.USE_YN = 'Y'
                                        AND DM.MENU_CD = MU.MENU_CD AND DM.USE_YN = 'Y'
                                        AND MU.USER_ID = EP.CUST_CODE
                                        AND MU.AUTHORITY = 'Y'
                                        AND EP.ID =#{username}
                 )
                 SELECT * FROM (
                                   SELECT A.MENU_CD
                                        ,A.MENU_NM
                                        ,NVL(A.PROG_NM, ' ')   PROG_NM
                                        ,A.MENU_REF
                                        ,A.MENU_IDX
                                        ,A.MENU_DIV
                                        ,A.PROG_TP
                                        ,A.USE_YN
                                        ,1 AS SEQ
                                        ,0 AS HMENU_CD
                                   FROM WMENU A
                                   WHERE A.MENU_CD IN (SELECT HMENU_CD FROM DETAIL_MENU GROUP BY HMENU_CD)
                                   UNION ALL
                                   SELECT A.MENU_CD
                                        ,A.MENU_NM
                                        ,NVL(A.PROG_NM, ' ')  PROG_NM
                                        ,A.MENU_REF
                                        ,A.MENU_IDX
                                        ,A.MENU_DIV
                                        ,A.PROG_TP
                                        ,A.USE_YN
                                        ,2 AS SEQ
                                        ,0 AS HMENU_CD
                                   FROM WMENU A
                                   WHERE A.MENU_CD IN (SELECT MMENU_CD FROM DETAIL_MENU GROUP BY MMENU_CD)
                                   UNION ALL
                                   SELECT A.MENU_CD
                                        ,A.MENU_NM
                                        ,NVL(A.PROG_NM, ' ')    PROG_NM
                                        ,A.MENU_REF
                                        ,A.MENU_IDX
                                        ,A.MENU_DIV
                                        ,A.PROG_TP
                                        ,A.USE_YN
                                        ,3 AS SEQ
                                        ,C.MENU_CD AS HMENU_CD
                                   FROM WMENU A
                                      , WMENU B
                                      , WMENU C
                                   WHERE A.MENU_CD IN (SELECT DMENU_CD FROM DETAIL_MENU GROUP BY DMENU_CD)
                                     AND A.MENU_REF =  B.MENU_CD AND B.MENU_REF = C.MENU_CD
                               )
             )
        WHERE MENU_CD IS NOT NULL
            CONNECT BY nocycle MENU_REF = PRIOR MENU_CD
        ORDER SIBLINGS BY SEQ, MENU_IDX
    </select>
</mapper>